{% extends 'Base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="jumbotron">
    {% csrf_token %}
    <label for id="un">Username</label>
        <input type="text" id="un" name="un"><br><br>

        <label for id="pw">Password</abel>
        <input type="password" id="pw" name="pw"><br><br>
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:red">{{msg}}</p>
                {% endfor %}
            {% endif %}
        <input type="submit" value="Login">
    </form>
</div>



{% endblock %}
